body {
    background-color: #F6EFE680;
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Staatliches', arial, sans-serif;
    font-size: 64px;
    color: #20232A;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Staatliches', arial, sans-serif;
    font-size: 34px;
    color: #20232A;
    margin-bottom: 20px;
}

h3 {
    color: #20232A;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Staatliches', arial, sans-serif;
}

section {
    max-width: 924px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    section {
        max-width: 700px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 44px;
    }

    section {
        max-width: 380px;
    }

    h3 {
        margin-top: 0;
    }
}


@media screen and (max-width: 375px) {
    section {
        max-width: 280px;
    }

}



/* ----------------- INTRO -----------------  */

.intro {
    color: #20232A80;
    margin: 50px auto 100px;
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 50px auto;
    }
}


.top {
    display: flex;
    align-items: flex-end;
}

.section_intro {
    display: flex;
    justify-content : flex-end;
    margin-top: 10px;
}

@media screen and (max-width: 425px) {
    .section_intro {
        margin-bottom: 20px;
    }
}


/* ----------------- FORM MEMBER -----------------  */

.form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.input_member {
    height: 24px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px;
    margin-right: 4px;
    max-width: 100px;
}

.button_form {
    background-color: transparent;
    text-align: center ;
    color: #20232A;
    border-radius: 4px;
    padding: 0 8px;
    box-shadow: none;
    border: 1px solid #20232A;
    font-size: 12px;
    margin-right: 0;
    min-height: 34px;
}

.button_form:hover {
    background-color: #ED5464;
    border: 1px solid transparent;
}

.p_form {
    margin: 0 0 5px 0;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    color: #20232A;
}

/* ----------------- POSTS -----------------  */


.post {
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px 100px 30px;
    border-radius: 10px;
}

.post_date {
    color: #20232A80;
    font-size: 14px;
    margin-top: 10px;
}

.post p {
    color: #20232A;
    margin: 40px 0;
    font-size: 16px;
    line-height: 1.3;
}

hr {
    border: 0;
    border-top: 1px dotted #20232A50;
    border-bottom: 1px dotted #fff;
}

.comment_link a {
    text-decoration: none;
    color: #ED5464;
    font-size: 16px;
}


@media screen and (max-width: 425px) {
    .post {
        padding: 30px;
    }
    .post p {
        font-size: 14px;
    }
    .comment_link a {
        font-size: 14px;
    }
}

/* ----------------- POSTVIEW -----------------  */

.back_button {
    text-decoration: none;
    color: #ED5464;
    font-size: 16px;
    margin: 30px 0;
    border: none;
    background: none;
}

/* ----------------- COMMENTS -----------------  */

.comment_post {
    background-color: #ffffff;
    border-color: #ED5464;
    margin: 40px auto;
    padding: 20px 40px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .comment_post {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .comment_post {
        padding: 20px;
    }
}

.input_comment {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 4px;
    min-height: 40px;
    font-size: 16px;
    padding: 10px;
}

.comment_post textarea {
    min-height: 80px;
}

.comment_field label {
    font-size: 15px;
    color: #8c8c8c;
}

.comment_field {
    margin-bottom: 14px;
}

.comment_button {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.comment_button button {
    background-color: #ED5464;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 16px;
    box-shadow: none;
    border-color: transparent;
    font-size: 16px;
}

.alert_button {
    color: #8c8c8c;
    font-size: 12px;
    background-color: transparent;
    border: none;
}

.align_button {
    display: flex;
    justify-content: flex-end;
}

.align_button a {
    color: #ED5464;
    text-decoration: none;
}

.align_button a:hover {
    color: #20232A;
}

.align_button a:last-child {
    margin-left: 10px;
}

.comment {
    margin-bottom: 10px;
}

.comment p {
    margin: 15px 0 6px;
}

.comment #comment_date {
    font-size: 12px;
    color: #8c8c8c;
    margin: 0 0 16px;
}

#comment_author {
    color: #000000;
    font-weight: 800;
}


/* ----------------- LOGIN ERROR -----------------  */

.pwd_error {
    max-width: 924px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 84px;
    font-weight: 800;
    color: #20232A;
    margin-bottom: 20px;
    font-family: 'Staatliches', arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 425px) {
    h4 {
        font-size: 34px;
    }
}

.background_section {
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px 100px 30px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .background_section {
        padding: 30px;
    }
}

.msg_page p {
    text-align: center;
}

.msg_page  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------- ADMIN -----------------  */

.section_intro a {
    text-decoration: none;
    background-color: transparent;
    text-align: center ;
    color: #ED5464;
    padding: 0 8px;
    font-size: 12px;
    min-height: 24px;
    margin: 0;
}

.section_intro a:hover {
    color: #20232A;
}
